@import 'libs/functions';
@import 'libs/variables';

.section-menu{
    color: #383838;
    border: solid 2px #C89446;
    margin: 2px;

}
.food-type-list{
    max-width: 919px;
    margin: 64px auto 34px auto;
    text-align: center;
    .food-type-link{
        position: relative;
        display: inline-block;
        // margin: 0 32.5px;
        margin: 0 5px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 8px;
        &:hover, &.active{
            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #C89446;
                bottom: 0px;
                transform: translateY(125%);
            }
        }
    }
}

.container-large{
    margin: 80px 20px;
    // margin: 80px 138px 80px 115px;
    max-width: 1187px;
}

.menu-card{
    text-align: center;
    max-width: 553px;
    margin-bottom: 20px;
    &-img{
        width: 160px;
        height: 160px;
    }
    &-tittle{
        margin-top: 8px;
        font-size: pxToRem(18px);
        font-weight: bold;
        letter-spacing: 1px;
    }
    &-body{
        display: flex;
        flex-direction: column;
        text-align: start;
        p{
            margin-top: 9px;
            margin-bottom: 8px;
            color: #6f6f6f;
        }
    }
    &-price{
        align-self: flex-end;
        font-family: 'Pinyon Script', cursive;
        font-size: pxToRem(40px);
        color: #C89446;
        position: relative;
        margin-left: 20px;
        &::before{
            content: ' $ ';
            display: inline-block;
            position: absolute;
            transform: translateX(-20px);
            left: 0;
            vertical-align: middle;
        }

    }
}

@media only screen and (min-width:400px){
    .food-type-list{
        display: flex;
        justify-content: center;
    }
    
    .container-large{
        margin: 80px 115px;
    }
    .menu{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    .menu-card{
        width: 553px;
        height: 160px;
        text-align: start;
        display: flex;
        margin: 10px 0px;
        &-body{
            justify-content: center;
            width: 297px;
            margin-left: 32px;
            p{
                margin-bottom: 16px;
                line-height: 24px;
            }
        }
        &-tittle{
            margin-bottom: 8px;
        }
        &-price{
            align-self: flex-start;
        }
        &-img{
        }
    }
}